<h1>Help</h1>
<p>После регистрации вам доступна возможность оценить героев романа-эпопеи "Властелин Колец"</p>
<p>Выберите одну из предложенных тем и персонажа</p>
<p>Оцените его</p>
<p>Вы прекрасны, да благославят вас Валар!</p>
